@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(172, 171, 171);
}
main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.419);
}
main h1 {
    margin: 10px;
    text-align: center;
}

form {
    text-align: center;
}


label {
    display: block;
    text-align: left;
    margin-left: 30%;
    font-size: 1.2em;
    
}

input {
    display: block;
    font-size: 1.13em;
    padding: 3px;
    margin-left: 30%;
    margin-bottom: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.189);
}

#idForma{
    
    font-size: 1.13em;
    padding: 3px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.189);
}

#idButton {
    display: block;
    font-size: 1.13em;
    padding: 3px;
    margin-left: 42.8%;
    margin-bottom: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.189);
}

#idOut {
    font-size: 1.3em; 
}


#idOp {
    display: flex;
    margin: 0px;
    padding: 0px;
}

#idRadioLabel{
    display: inline;
    margin: 0px;
}

#idDiv{
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
}

.clOP{
    display: inline;
    box-shadow: none;
    
    padding: 0px;
    margin-left: 30%;
}

.clCheck{
    margin-left: 2%;
}